* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "맑은 고딕", sans-serif;
    color: #222328;
    background: #fff;
  }
  
  a {
    text-decoration: none;
    color: #222328;
  }
  
  ul {
    list-style-type: none;
  }
  
  /* 공통 */
  .container {
    width: 1200px;
    margin: 0 auto;
    background: rgb(239, 209, 209);
  }
  
  /* header */
  header {
    height: 100px;
    position: relative;
    z-index: 999;
  }
  
  header h1 {
    position: absolute;
    left: 20px;
    top: 30px;
  }
  
  #gnb {
    position: absolute;
    right: 20px;
    top: 32px;
  }
  
  /* 1단계 메뉴 */
  #gnb .depth1 {
    display: flex;
    text-align: center;
  }
  
  #gnb > .depth1 > li {
    width: 120px;
    /* outline: 1px solid #666; */
  }
  
  #gnb > .depth1 > li > a {
    /* background: yellow; */
    display: block;
    padding: 8px;
    font-weight: bold;
  }
  
  /* 메뉴 하이라이트 효과 */
  #gnb > .depth1 > li > a:hover {
    color: hsla(230, 8%, 15%, 0.7);
  }
  
  /* 2단계 메뉴 */
  #gnb .depth2 {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.4s;
    border: 1px solid #ddd;
  }
  
  #gnb .depth2.on {
    height: 150px;
    opacity: 1;
  }
  
  #gnb .depth2 > li > a {
    display: block;
    padding: 8px;
    background: #fff;
  }
  
  #gnb .depth2 > li > a:hover {
    background: #eee;
  }
  
  /* 메인 slider */
  .slider {
    width: 1200px;
    height: 300px;
    outline: 4px solid yellowgreen;
    overflow: hidden;
  }
  
  .slider .sliders img {
    display: block;
  }
  
  .sliders {
    /* 높이값 이동: 1장 = 300px */
    transform: translateY(calc(-300px * 0));
    transition: 0.5s;
  }

  /* 콘텐츠영역 */
  #main{
    display: flex;
  }

  #main .col{
    outline: 1px solid #666;
    width: 400px;
  }